$white-color: #f5f5f5;
$black-color: #201d16;

:root {
  --font-size-text: 16px;
  --font-size-header: 54px;
  --font-size-subheader: 52px;
  --font-size-title: 36px;
  --font-size-button: 14px;
  --size-gap: 24px;
  --size-gap-large: 32px;
  --padding-horizontal: 5%;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("fonts/HelveticaNeue.eot");
  src: url("fonts/HelveticaNeue.eot?#iefix") format("embedded-opentype"),
  url("fonts/HelveticaNeue.woff") format("woff"),
  url("fonts/HelveticaNeue.ttf") format("truetype"),
  url("fonts/HelveticaNeue.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$transition: all 0.3s linear;

$text-font: "HelveticaNeue", Arial, sans-serif;
$header-font: "Libre Caslon Display", Arial, sans-serif;

/***************************************************************/
/*** MAIN ******************************************************/
/***************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 150px;
}

body {
  margin: auto;
  padding: 0;
  min-height: 100vh;
  max-width: 1920px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2 {
  font-family: $header-font;
  color: $white-color;
  text-align: left;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: var(--font-size-header);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: $white-color;
}

.title {
  font-family: $header-font;
  font-size: var(--font-size-title);
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  margin-bottom: var(--size-gap-large);
  text-transform: uppercase;
  //letter-spacing: 0.2rem;
}

.subheader {
  font-family: $header-font;
  font-size: var(--font-size-subheader);
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  //letter-spacing: 0.2rem;
}

.subtitle {
  font-family: $text-font;
  font-size: var(--font-size-text);
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  text-align: left;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 9px;
}

.info {
  position: relative;
  padding-left: var(--size-gap);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 90px;
    width: 1px;
    display: block;
    background-color: currentColor;
  }
}

a,
span {
  display: inline-block;
  font-family: $text-font;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: $white-color;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;

  &.zoom {
    cursor: zoom-in;
  }
}

.width {
  padding: 0 var(--padding-horizontal);
  margin: 0 auto;
}

.txt {
  font-family: $text-font;
  font-size: var(--font-size-text);
  font-weight: 400;
  line-height: 1.2;
  text-align: justify;
  color: $white-color;
}

/* loading */
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $black-color;
  z-index: 99999;
  transition-duration: 1s;
  transition-delay: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    width: 270px;
    height: auto;
    transition-duration: 0.5s;

    img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  &.hidden {
    opacity: 0;
    visibility: hidden;

    div {
      transform: scale(1.5);
    }
  }
}

.error404 section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 40px;

  h3 {
    margin: 1em 0;
    font-size: 32px;
  }

  #e404 {
    font-size: 3em;
    color: $black-color;
  }
}

#politique {
  padding-top: 180px;
  padding-bottom: 100px;

  a {
    text-decoration: underline;
    color: $black-color;
    transition: $transition;

    &:hover {
      color: $white-color;
    }
  }

  h1 {
    font-size: 46px;
    margin-bottom: 50px;
    color: $white-color;
  }

  nav {
    ol {
      list-style: none;

      li {
        ol {
          margin-left: 20px;
        }
      }
    }
  }

  > div {
    margin: 50px 0;

    h2 {
      margin-bottom: 30px;
      color: $white-color;
      font-size: 32px;
    }

    p {
      margin-bottom: 20px;
    }

    ul {
      margin-left: 20px;
    }
  }
}

::-webkit-scrollbar {
  width: 3px;
  overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $black-color;
}

/***************************************************************/
/*** BUTTONS ***************************************************/
/***************************************************************/
.btn {
  background-color: $black-color;
  color: $white-color;
  padding: 10px 40px 10px 40px;
  border-radius: 100px;
  border: 1px solid $black-color;
  font-family: $text-font;
  font-size: var(--font-size-button);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.2rem;
  text-align: left;
  transition: $transition;
  text-transform: uppercase;
  cursor: pointer;
  white-space: nowrap;
  position: relative;

  &:hover {
    background-color: rgba($white-color, 0.5);
    color: $black-color;
  }

  &.arrow {
    padding: 10px 16px 10px 16px;
    border: 1px solid $white-color;
    padding-right: 60px;
    position: relative;
    display: inline-block;

    &::after {
      content: url("imgs/icons/button-arrow.svg");
      position: absolute;
      right: 0;
      top: 10px;
      width: 28px;
      height: 10px;
      transform: translateX(-50%);
      display: block;
      background-image: no-repeat;
      transition: $transition;
    }

    &:hover {
      background-color: $black-color;

      &::after {
        right: -6px;
      }
    }

    &.noborder {
      border: 1px solid transparent;
    }

    &.transparent {
      background-color: transparent;
      border-color: $black-color;
      color: $black-color;

      &::after {
        filter: invert(1);
      }

      a {
        color: $black-color;
      }
    }
  }
}

/***************************************************************/
/*** HEADER ***************************************************/
/***************************************************************/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 25px 0;
  z-index: 99;
  transition: $transition;
  background-color: transparent;

  .width {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--size-gap);
      padding-right: var(--size-gap);

      .logo {
        height: 52px;
        width: 52px;
        position: relative;
        z-index: 9;
        flex-shrink: 0;

        a img {
          transition: all 0.5s linear;
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: right 0.4s linear;
        width: 100%;

        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          list-style-type: none;
          gap: var(--size-gap);

          li {
            a {
              font-family: $text-font;
              font-size: var(--font-size-text);
              font-weight: 300;
              line-height: 1.2;
              letter-spacing: 0.2rem;
              text-align: left;
              color: $white-color;
              text-transform: uppercase;
              transition: all 0.5s;
              position: relative;
              border-bottom: 1px solid transparent;
              transition: $transition;

              &:hover {
                color: $white-color;
                border-bottom: 1px solid $white-color;
              }
            }
          }
        }
      }
    }
  }

  &.active {
    padding: 10px 0;
    background-color: rgba($black-color, 0.8);

    .logo {
      transition: $transition;
      height: 50px;
    }

    nav {
      ul li a {
        font-size: var(--font-size-button);
      }
    }

    .btn {
      background-color: transparent;
      border-color: $white-color;
      color: $white-color;

      &:hover {
        background-color: rgba($black-color, 0.5);
        color: $white-color;
      }
    }
  }
}

.right {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .contact-btn {
    display: block;
  }
}

#menu-btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 52px;
  height: 30px;
  position: absolute;
  z-index: 100;
  display: none;
  top: 22px;
  right: var(--padding-horizontal);

  &.active {
    span {
      background-color: transparent;
    }

    span::before {
      transform: translateY(-8px) rotate(135deg);
      background-color: $white-color;
    }

    span::after {
      transform: translateY(12px) rotate(-135deg);
      background-color: $white-color;
    }
  }

  span,
  span::before,
  span::after {
    content: "";
    width: 40px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: $white-color;
  }

  span::before {
    top: 10px;
    transition: all 0.1s linear;
  }

  span::after {
    bottom: 10px;
    transition: all 0.1s linear;
  }
}

/***************************************************************/
/*** ACCUEIL ***************************************************/
/***************************************************************/
.accueil {
  height: 100vh;
  min-height: 925px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: $black-color;
  overflow: hidden;
  position: relative;

  .left {
    width: 50%;
    padding: 100px 100px 0 var(--padding-horizontal);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;

    .img {
      padding-bottom: 20px;

      img {
        width: 200px;
        height: auto;
        object-fit: contain;
      }
    }

    h1 {
      margin-bottom: 80px;
    }

    .txt {
      margin-bottom: 28px;
      max-width: 40ch;
    }

    .buttons {
      display: flex;
      gap: var(--size-gap);
    }
  }

  .right {
    width: 50%;
    background: url("../imgs/vis/1.jpg") no-repeat top center;
    background-size: 200%;
    position: relative;
    display: flex;
    align-items: flex-end;

    .layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, #201d16 9.41%, rgba(23, 23, 23, 0) 50%);
      z-index: 2;
    }

    .description {
      position: relative;
      z-index: 3;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      gap: var(--size-gap);
      color: $white-color;
      width: 100%;
      padding-right: 30px;
      padding-left: 50px;
      padding-bottom: 87px;

      > div {
        display: flex;
        gap: 6px;
        justify-content: space-between;
        width: 100%;
      }

      .item {
        display: flex;
        align-items: flex-start;
        width: 33%;
        gap: 4px;
        flex-direction: column;

        .caption {
          font-family: $text-font;
          font-size: var(--font-size-text);
          font-weight: 300;
          line-height: 1.2;
          letter-spacing: 0.2rem;
          text-align: left;
          text-transform: uppercase;
        }

        .detail {
          font-family: $text-font;
          font-size: var(--font-size-text);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
        }
      }
    }
  }
}

/***************************************************************/
/*** PROJECT ***************************************************/
/***************************************************************/
.projet {
  padding-top: 100px;
  padding-bottom: 0;
  color: $black-color;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;

  .info {
    max-width: 90%;
    margin: 0 auto;

    .subtitle {
      margin-bottom: 14px;
      text-align: left;
    }

    .subheader {
      margin-bottom: 50px;
      color: $black-color;
      text-align: left;
    }
  }

  .imgs {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 50px;
    height: 100%;

    & img:first-of-type {
      padding-left: var(--padding-horizontal);
      width: 30%;
      height: 500px;
    }

    & img:last-of-type {
      width: 65%;
      height: 100%;
    }
  }
}

/***************************************************************/
/*** PROJECT1 ***************************************************/
/***************************************************************/
.projet1 {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;

  .left {
    width: 50%;
    color: $white-color;
  }

  .right {
    padding-top: 100px;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    color: $black-color;
    padding-right: var(--padding-horizontal);
    padding-left: var(--padding-horizontal);

    .info {
      width: 100%;

      .title {
        max-width: 20ch;
      }

      .txt {
        width: 70%;
        color: $black-color;
        text-align: justify;
        max-width: 47ch;

        &:last-of-type {
          margin-right: 0;
          margin-left: auto;
        }
      }

      .img {
        height: 400px;
        width: 100%;
        margin-right: 0;
        margin-left: auto;
        margin-bottom: var(--size-gap);
        object-fit: cover;
      }
    }
  }
}

/***************************************************************/
/*** VILLA ***************************************************/
/***************************************************************/
.villa {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  height: 100vh;
  min-height: 900px;
  max-height: 1100px;
  overflow: hidden;

  .left {
    width: 65%;
    background-color: $black-color;
    padding: 100px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .info {
      color: $white-color;
      width: 80%;
      margin: 0 calc(1.6 * var(--padding-horizontal));

      .title {
        max-width: 35ch;
        margin-bottom: 50px;
      }

      .txt {
        max-width: 39ch;
        margin-right: 0;
        margin-left: auto;
      }
    }

    .imgs {
      width: 80%;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: var(--size-gap);

      img:first-of-type {
        width: 65%;
      }

      img:last-of-type {
        width: 35%;
      }
    }
  }

  .right {
    width: 35%;
  }

}

/***************************************************************/
/*** VILLA1 ***************************************************/
/***************************************************************/
.villa1 {
  padding: 50px 0 0 0;
  position: relative;
  min-height: 900px;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--size-gap);

  .left {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;

    .info {
      color: $black-color;
      margin: 0 calc(2 * var(--padding-horizontal)) 70px;

      .title {
        max-width: 30ch;
      }

      .txt {
        max-width: 61ch;
        margin-bottom: var(--size-gap);
        color: $black-color;
      }
    }

    & > img {
      width: 400px;
      max-width: 25vw;
      margin-bottom: 70px;
    }

    & .imgs {
      position: relative;
      height: 450px;
      width: 80%;

      & img:nth-of-type(1) {
      }

      & img:nth-of-type(2) {
        position: absolute;
        top: -25%;
        right: -30%;
        width: 400px;
        height: 230px;
      }
    }
  }

  .right {
    width: 40%;
    justify-content: flex-start;
    padding-left: 5%;
    flex-direction: column;
    align-items: flex-end;

    & img:first-of-type {
      width: 750px;
      max-width: 40vw;
      margin-bottom: 50px;
      margin-top: 50px;
      height: 50%;
    }

    & img:last-of-type {
      width: 350px;
      margin-top: 50px;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 550px;
    }
  }
}

/***************************************************************/
/*** PISCINE ***************************************************/
/***************************************************************/
.piscine {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 100px;

  .left {
    width: 30%;
    padding-top: 200px;

    .txt {
      color: $black-color;
      margin-top: 50px;
      width: 70%;
      margin-right: 0;
    }

    img {
      height: 450px;
    }
  }

  .right {
    width: 67%;
    display: flex;
    flex-direction: column;
    gap: var(--size-gap-large);

    .info {
      width: 80%;
      margin: 100px auto 150px 0;

      .txt {
        color: $black-color;
        max-width: 36ch;
      }
    }

    img {
      height: 600px;
    }
  }
}

/***************************************************************/
/*** GALERIE ****************************************************/
/***************************************************************/
#galerie {
  padding: 100px 0 105px 0;
  background-color: $black-color;

  .width {
    color: $white-color;

    .info {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--size-gap-large);
      max-width: 1314px;
      margin-bottom: 78px;

      .left {
        max-width: 90ch;
      }

      .right {
        margin-top: var(--size-gap-large);
        width: 50%;
        max-width: 70ch;

        .txt {
          text-align: left;
        }
      }
    }
  }

  .galerie-container {
    position: relative;
    margin-right: 0;
    margin-left: 20%;

    #roller {
      display: flex;
      align-items: center;
      transition-duration: 0.6s;
      z-index: 1;
      width: max-content;
      height: 580px;
      -o-object-fit: cover;
      object-fit: cover;
      position: relative;

      img {
        height: 100%;
        width: 65vw;
        transition-duration: 0.2s;
        -o-object-fit: cover;
        object-fit: cover;
        cursor: zoom-in;
        opacity: 0.8;
        padding-right: 40px;
      }

      .active {
        opacity: 1;
        z-index: 44;
      }
    }

    .gallery-nav {
      position: absolute;
      top: 50%;
      width: calc(65vw + 40px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: -40px;

      span {
        cursor: pointer;
        width: 122px;
        height: 122px;
        background-color: rgba($white-color, 1);
        border-radius: 50%;

        &.gallery-nav-prev {
          z-index: 1;

          &.hidden {
            visibility: hidden;
          }
        }

        &.gallery-nav-next {
          z-index: 1;

          &.hidden {
            visibility: hidden;
          }
        }

        img {
          width: 32px;
          filter: invert(1);
          object-fit: contain;
          margin-left: 44px;
          transition: $transition;
        }

        &:hover {
          &.gallery-nav-prev img {
            margin-left: 38px;
          }

          &.gallery-nav-next img {
            margin-left: 50px;
          }
        }
      }
    }
  }
}

/***************************************************************/
/*** FULL GALLERY ****************************************************/
/***************************************************************/
.fullGallery,
.fullGallery1 {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: $black-color;
  transition-duration: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding: 10px;

  .full-img {
    position: relative;

    .close-btn {
      position: absolute;
      top: 0em;
      right: 2%;
      background: none;
      border: none;
      width: 40px;
      height: 40px;
      font-size: 20px;
      color: $white-color;
      z-index: 9999;
      cursor: pointer;
      font-weight: bold;
      background-color: $black-color;
      padding: 10px;
      border-radius: 50%;
    }

    .gallery-nav-prev,
    .gallery-nav-next {
      position: absolute;
      top: 55%;
      width: 55px;
      height: 55px;
      cursor: pointer;
      z-index: 99;
      background-color: $black-color;
      padding: 10px;
      border-radius: 50%;
    }

    .gallery-nav-next {
      right: 3%;
    }

    .gallery-nav-prev {
      left: 3%;
    }
  }

  &.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.4s linear;
  }

  * {
    width: 100%;
    height: 100%;

    img {
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  img {
    transition: all 0.4s linear;

    &.active {
      display: block;
    }
  }
}

/***************************************************************/
/*** FULL IMAGE ****************************************************/
/***************************************************************/
.fullImg {
  height: 100vh;
  // overflow: hidden;
  div {
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    // animation: scale 25s linear infinite alternate-reverse;
  }
}

.fullImg2 {
  height: 130vh;
  // overflow: hidden;
  div {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    // animation: scale 25s linear infinite alternate-reverse;
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/***************************************************************/
/*** SITUATION ****************************************************/
/***************************************************************/
#situation {
  width: 100%;
  height: 100vh;
  min-height: 900px;
  max-height: 1032px;
  position: relative;
  display: flex;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
  }

  .info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 80px var(--padding-horizontal);
    background-color: transparent;
    color: $black-color;
    z-index: 2;
    pointer-events: none;

    .title {
      max-width: 23ch;
    }

    .txt {
      color: $black-color;
      max-width: 50ch;
    }

    &::before {
      display: none;
    }
  }

  .info2 {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 47px var(--padding-horizontal);
    background-color: #ffffff;
    color: $black-color;
    z-index: 2;

    &::before {
      display: none;
    }

    table {
      tbody {
        color: $black-color;

        tr {
          display: block;
          border-bottom: 1px solid $black-color;
        }

        td {
          padding: 6px 4px 6px 24px;

          img {
            object-fit: none;
          }

          &:nth-child(1) {
            width: 50px;
            min-width: 50px;
            height: 40px;
            padding-left: 0;
          }

          &:nth-child(2) {
            width: 366px;
            text-transform: uppercase;
          }

          &:nth-child(3),
          &:nth-child(4) {
            width: 148px;
            text-align: right;
          }
        }
      }
    }
  }
}

/***************************************************************/
/*** CARACTÉRISTIQUES ****************************************************/
/***************************************************************/
#caracteristique {
  background-color: $black-color;
  color: $white-color;
  position: relative;
  top: -5px;

  .subtitle {
    margin-bottom: 70px;
  }

  .width {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--size-gap);
    flex-wrap: wrap;
    padding-right: 0;

    ul {
      li {
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--size-gap);
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: 0.5px solid rgba($white-color, 0.5);
        transition: $transition;

        & p.key {
          text-transform: uppercase;
        }
      }
    }

    .left {
      width: 58%;
      padding-top: 163px;
      padding-bottom: 83px;
    }

    .right {
      width: 37%;
      display: block;
    }
  }
}

/***************************************************************/
/*** COMMODITÉS ****************************************************/
/***************************************************************/
#commodites,
#commodites1 {
  padding: 62px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--size-gap);

  .list {
    color: $black-color;
    display: flex;
    gap: var(--size-gap-large);
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    padding-left: 15px;
    flex-direction: column;

    &::before {
      content: "";
      position: absolute;
      top: -50px;
      left: 0;
      width: 1px;
      height: 90px;
      background-color: $black-color;
      margin-right: 15px;
    }

    .caption {
      font-family: $header-font;
      font-size: var(--font-size-title);
      font-weight: 400;
      line-height: 1.2;
      text-align: left;
      text-transform: uppercase;
    }

    .txt {
      color: $black-color;
      max-width: 33ch;
    }

    ul {
      li {
        text-transform: uppercase;
        text-align: left;
        line-height: 1.5;
        max-width: 32ch;
        list-style: "- ";
        color: $black-color;
      }
    }
  }

  .left {
    .list {
      margin-left: calc(2 * var(--padding-horizontal));
    }
  }

  .left,
  .right {
    width: 50%;
    justify-content: flex-start;
  }

  .right {
    .list {
      margin-left: 15%;

      .txt {
        max-width: 44ch;
        text-align: left;
      }
    }
  }

  .top, .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-gap);
  }

  .bottom {
    justify-content: flex-start;
  }
}

/***************************************************************/
/*** COMMODITÉS1 ****************************************************/
/***************************************************************/
#commodites1 {
  padding: 62px 0 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  gap: var(--size-gap);
  position: relative;

  .width {
    margin-left: 0;
  }

  .list {
    div {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: var(--size-gap-large);
    }
  }

  .top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 70%;
    margin-bottom: 50px;
  }

  .bottom {
    height: 750px;
    width: 100%;

    img:last-of-type {
      position: absolute;
      right: 0;
      top: 0;
      width: 450px;
      height: 750px;
      z-index: 2;
      border-left: 15px solid white;
      border-bottom: 15px solid white;
    }
  }

}

/***************************************************************/
/*** CONTACT ****************************************************/
/***************************************************************/
.contact {
  //height: 810px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: $black-color;
  overflow: hidden;
  color: $white-color;

  .left {
    width: 57%;
    padding: 118px 0 87px 0;

    .width {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 100px;
      flex-wrap: wrap;

      .wrapper {
        width: 41%;

        .subtitle {
          margin-bottom: 38px;
        }

        .details {
          margin-bottom: 200px;

          h3 {
            font-family: $header-font;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.2;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 18px;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 16px;
            margin-bottom: 4px;
            white-space: nowrap;

            p {
              text-transform: uppercase;
              margin-bottom: 0;
              font-weight: 300;
            }
          }
        }

        .logo {
          width: 150px;
          height: 200px;
        }

        img:last-of-type {
          width: 168%;
          position: relative;
          left: -20px;
        }
      }

      .form-container {
        display: block;
        width: 45%;
        margin-top: 45px;

        form {
          width: 100%;
          display: flex;
          flex-direction: column;

          > div {
            width: 100%;

            input,
            textarea {
              width: 100%;
              background-color: transparent;
              border: none;
              outline: none;
              border-bottom: 0.5px solid $white-color;
              font-family: $text-font;
              font-size: var(--font-size-text);
              color: $white-color;
              padding: 16px 0;

              &::placeholder {
                text-transform: uppercase;
                color: $white-color;
                opacity: 1;
              }
            }

            textarea {
              margin-bottom: 55px;
            }

            .btn {
              color: $white-color;
            }
          }
        }
      }
    }

    .txt {
      margin-bottom: 28px;
      max-width: 45ch;
    }

    .buttons {
      display: flex;
      gap: var(--size-gap);
      flex-wrap: wrap;
    }
  }

  .right {
    width: 33%;

    background: url("imgs/vis/6.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;

    .layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      z-index: 2;
    }
  }
}

// sucess page
.succes {
  padding: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 36px;
  }

  .icon-sent {
    margin-bottom: 40px;

    img {
      background-color: $white-color;
      color: $white-color;
      border-radius: 50%;
      width: 50px;
      height: 50px;
    }
  }
}

/***************************************************************/
/*** FOOTER ****************************************************/
/***************************************************************/

/***************************************************************/
/*** ANIMATIONS *****************************************/
/***************************************************************/

/*****************media**********************************************/
/*** RESPONSIVE ************************************************/
/***************************************************************/
@media only screen and (max-width: 1650px) {
  :root {
    --font-size-text: 16px;
    --font-size-header: 60px;
    --font-size-subheader: 48px;
    --font-size-title: 32px;
    --font-size-button: 14px;
    --size-gap: 24px;
    --size-gap-large: 30px;
    --padding-horizontal: 5%;
  }

  //contact
  #contact {
    position: relative;

    .left {
      width: 50%;
      padding: 0;

      .width {
        width: 100%;
        flex-direction: column;

        .wrapper {
          width: 100%;

          .details {
            margin-bottom: 50px;
          }

          .logo {
            position: absolute;
            right: var(--padding-horizontal);
            bottom: 35px;
            z-index: 3;
            width: 100px;
            height: 160px;
          }

          img:last-of-type {
            left: -47px;
          }
        }

        .form-container {
          width: 80%;
          order: -1;
        }
      }
    }

    .right {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1380px) {
  :root {
    --font-size-text: 16px;
    --font-size-header: 52px;
    --font-size-subheader: 40px;
    --font-size-title: 28px;
    --font-size-button: 12px;
    --size-gap: 12px;
    --size-gap-large: 24px;
    --padding-horizontal: 5%;
  }

  header {
    .width .left nav ul li a {
      font-size: 13px;
    }
  }

  .accueil {
    .left {
      margin-top: 40px;
    }

    .right {
      background-size: cover;

      .description {
        padding-left: var(--padding-horizontal);
        padding-right: var(--padding-horizontal);
      }
    }
  }

  //projet
  .projet {
    padding-top: 50px;
    padding-bottom: 50px;

    .top .subheader {
      margin-bottom: 290px;
    }

    .bottom .left {
      padding-top: 430px;

      .width .img {
        height: 500px;
        width: 80%;
      }
    }
  }

  //galerie
  #galerie {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //fullScreenImg
  #fullScreenImg {
    display: flex;
    flex-direction: column;

    .info {
      position: static;
      margin: 0 auto;
      order: -1;
    }
  }

  //caracteristique
  #caracteristique {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  //commodites
  #commodites {
    padding-top: 50px;
    padding-bottom: 50px;

    .top {
      width: 100%;
    }

    .bottom {
      width: 100%;
      justify-content: space-between;
    }
  }
}

@media only screen and (max-width: 1090px) {
  :root {
    --font-size-text: 16px;
    --font-size-header: 44px;
    --font-size-subheader: 28px;
    --font-size-title: 22px;
    --font-size-button: 12px;
    --size-gap: 12px;
    --size-gap-large: 24px;
    --padding-horizontal: 5%;
  }

  .txt {
    text-align: left;
  }

  //HEADER
  header {
    .width {
      .left {
        nav {
          transition: all 0.6s linear;
          position: fixed;
          top: -100%;
          left: 0;
          background-color: $black-color;
          padding: 50px;
          width: 100%;
          flex-direction: column;
          align-items: center;
          height: 100vh;
          transition-duration: 0.6s;

          ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            li {
              margin-bottom: 30px;
              width: 100%;
              text-align: center;

              a {
                font-size: 18px;
              }
            }
          }

          &.active {
            top: 0;
            left: 0;
            transition: all 0.6s linear;
          }
        }
      }
    }

    .right {
      .contact-btn {
        display: none;
      }
    }
  }

  #menu-btn {
    display: block;
  }

  //accueil
  #accueil {
    flex-direction: column;
    position: relative;

    .left {
      padding-right: 0;
      padding-left: 0;
      position: relative;
      z-index: 3;
      width: 100%;

      .img {
        background-color: rgba(32, 29, 22, 0.8);
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          width: 150px;
        }
      }

      h1,
      .txt {
        background-color: rgba($black-color, 0.8);
        padding: var(--padding-horizontal);
        width: 100%;
        text-align: center;
      }

      h1 {
        padding-top: 20px;
        margin-bottom: 0;
        padding-bottom: 10px;
      }

      .txt {
        max-width: none;
        padding-bottom: 150px;
      }

      .buttons {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 76px;
      }
    }

    .right {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;

      .description {
        > div {
          gap: var(--size-gap);
        }

        .top {
          margin-bottom: var(--size-gap-large);
        }
      }
    }
  }

  //projet
  .projet {
    padding-top: 50px;

    .imgs {
      padding: 0;
      gap: 10px;

      img.zoom {
        width: 50%;
        height: 450px;
        padding: 0;
      }
    }
  }

  //projet1
  .projet1 {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column-reverse;

    .left {
      padding: var(--padding-horizontal);
      width: 100%;

      img {
        height: 350px;
        margin-bottom: 0;
      }
    }

    .right {
      width: 100%;
      padding-top: 0;

      .info {
        .txt {
          margin-bottom: var(--size-gap);
        }

        .img {
          height: 350px;
          margin-bottom: 0;
        }
      }
    }
  }

  //villa
  .villa {
    min-height: auto;
    height: auto;
    max-height: none;
    flex-direction: column;
    background-color: $black-color;

    .left {
      width: 100%;
      background-color: transparent;
      padding: 50px 0 var(--size-gap) 0;

      .info {
        .txt {
          margin: 0 0 30px;
        }
      }

      .imgs {
        width: 100%;

        img {
          height: 250px;

          &:first-of-type, &:last-of-type {
            width: 50%;
          }
        }
      }
    }

    .right {
      width: 100%;
      padding: 0;
      height: 350px;
    }

  }

  //piscine
  #piscine {
    flex-direction: column-reverse;
    padding: 0 var(--padding-horizontal);

    .left {
      width: 100%;
      padding: var(--padding-horizontal) 0;
      display: flex;
      flex-direction: column-reverse;
      gap: var(--size-gap-large);

      img {
        height: 400px;
      }

      .txt {
        margin: 0;
      }
    }

    .right {
      width: 100%;

      .info {
        margin: 0 auto 0 0;
      }

      img {
        height: 400px;
      }
    }
  }

  //galerie
  #galerie {
    .width .info {
      flex-direction: column;
      max-width: none;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;
        max-width: none;
      }
    }

    .galerie-container {
      #roller {
        height: 450px;
      }

      .gallery-nav span {
        width: 80px;
        height: 80px;

        img {
          margin-left: 22px;
        }

        &:hover {
          &.gallery-nav-prev img {
            // margin-left: 10px;
            margin-left: 22px;
          }

          &.gallery-nav-next img {
            // margin-left: 34px;
            margin-left: 22px;
          }
        }
      }
    }
  }

  //situation
  #situation {
    height: 80vh;
    min-height: 600px;

    .info {
      padding: 40px var(--padding-horizontal);
    }
  }

  //caracteristique
  #caracteristique {
    .width {
      flex-direction: column;
      gap: 0;
      padding: 0;

      .left {
        width: 100%;
        padding: 0 var(--padding-horizontal) 50px;
      }

      .right {
        width: 100%;
        height: 400px;
      }
    }
  }

  //commodites
  #commodites {
    .top {
      gap: var(--size-gap-large);
      margin-bottom: 50px;
      justify-content: center;
    }

    .list {
      display: flex;
      flex-direction: column;
    }

    .center {
      height: 450px;
    }

    .bottom {
      gap: var(--size-gap-large);
      margin-bottom: 50px;
      justify-content: center;
    }
  }

  //commodites1
  #commodites1 {
    .top {
      width: 100%;
      justify-content: flex-start;
      gap: 20%;
    }

    .bottom {
      flex-direction: row;
      height: 400px;
      align-items: unset;

      img.zoom {
        position: static;
        width: 50%;
        border: none;
        height: auto;
      }
    }
  }

  //contact
  #contact {
    .left {
      z-index: 4;
      width: 100%;
      background-color: rgba($black-color, 0.5);
    }

    .right {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 850px) {
  :root {
    --font-size-text: 16px;
    --font-size-header: 34px;
    --font-size-subheader: 28px;
    --font-size-title: 20px;
    --font-size-button: 12px;
    --size-gap: 12px;
    --size-gap-large: 24px;
    --padding-horizontal: 5%;
  }

  #loading {
    &.hidden div {
      transform: scale(1.1);
    }
  }

  #accueil {
    .right .description > div {
      justify-content: center;
    }
  }

  //fullScreenImg
  #fullScreenImg {
    .info {
      padding: 27px var(--padding-horizontal);

      table tbody {
        td {
          padding: 6px 4px 6px 10px;
        }

        td:nth-child(2) {
          width: 200px;
        }

        td:nth-child(3),
        td:nth-child(4) {
          width: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #accueil {
    .left .buttons {
      flex-wrap: wrap;
      left: var(--padding-horizontal);
      transform: translateX(0);
    }

    .right .description {
      padding-bottom: 50px;

      .item {
        width: 44%;
      }

      > div {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
    }
  }

  //projet
  #projet .imgs img {
    height: 400px;
  }

  //situation
  #situation {
    .info2 table tbody {
      td {
        padding: 6px 4px 6px 6px;

        &:nth-child(1) {
          width: 0;
          min-width: 0;
          height: 40px;
        }
      }
    }
  }

  //commodites
  #commodites {
    padding: 100px 0 0 0;
    display: block;

    .top {
      flex-direction: column;
      margin-bottom: 100px;
      gap: 50px;

      .left {
        width: 100%;
      }

      .right {
        width: 100%;

        img {
          height: 400px;
        }
      }
    }

    .bottom {
      flex-direction: column-reverse;

      .left {
        width: 100%;

        img {
          height: 400px;
        }
      }

      .right {
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 30px;

        .list {
          margin-left: calc(2 * var(--padding-horizontal));
        }
      }
    }
  }

  //commodites1
  #commodites1 {
    .top {
      display: flex;
      flex-direction: column;
      gap: 80px;
    }

  .list:last-of-type {
      align-self: flex-end;
    }

  }


  //contact
  #contact {
    .left .width {
      .wrapper {
        padding-bottom: 200px;

        .subtitle,
        .details h3 {
          text-align: center;
        }

        .details .item {
          justify-content: center;
        }

        .logo {
          right: 50%;
          transform: translateX(50%);
        }
      }

      .form-container {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  #accueil {
    .left {
      padding-top: 80%;

      .txt {
        margin-bottom: 50px;
      }
    }

    .right .description {
      display: none;
    }
  }
}

@media only screen and (orientation: landscape) {

}

@media only screen and (max-width: 805px) and (orientation: landscape) {
}

@supports (-webkit-touch-callout: none) {
}
