@import "../vars";

.extra-box {

  .layer {
    position: fixed;
    z-index: 30;
    inset: 0;
    background-color: transparent;
    transition: all 1s ease-in-out;
    cursor: pointer;
    pointer-events: none;
  }

  .modal {
    padding: 40px 80px 80px 80px;
    max-height: 90vh;
    position: fixed;
    z-index: 40;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 1s ease-in-out;
    gap: 22px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &__header {
      @include fontSize(600, 16px);

      line-height: 24px;
      background-color: $color-text;
      color: white;
      padding: 10px;
      text-align: center;
      text-transform: uppercase;
    }

    &__img {
      overflow: hidden;
      width: 100%;
      height: auto;
      margin: 0 auto;
      justify-content: center;
      display: flex;

      & img {
        object-fit: contain;
      }
    }

    &__buttons {
      display: flex;
      gap: $size-gap;
      align-items: center;
      justify-content: space-between;
      position: relative;
    }

    &__close {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 33px;
      right: 28px;
      cursor: pointer;
    }
  }

  &.open {
    .modal {
      top: 50%;
    }

    .layer {
      background-color: rgba($background-table-head, 0.9);
      pointer-events: auto;
    }
  }
}
