@import "../vars";

.hero {
  background: url("../../images/vis/1.jpg") no-repeat top center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .container{
    overflow: hidden;
  }

  .title{
    transform: translateY(100%);
    transition: .5s linear;

    &.isAnimated{
      transform: translateY(0);
    }
  }

  .arrow {
    @include fontSize(600, 20px);

    line-height: 106%;
    color: $color-text-light;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 62px;
  }
}

@keyframes backgroundOpacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow-and-shrink {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}