@import "../vars";

.slider {
  padding: 266px 0 154px 0;
  background-color: $color-text;

  &__info {
    padding: 0 102px;
  }

  .list {
    color: $color-text-slider;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: $size-gap;

    &__title {
      @include fontSize(600, 20px);

      line-height: 125%;
      text-align: left;
      text-transform: capitalize;
      letter-spacing: 0.1em;
      margin-bottom: 16px;
    }

    &__text {
      @include fontSize(400, 16px);

      line-height: 125%;
      letter-spacing: 0;
    }

    &__item:first-of-type .list__text {
      @include fontSize(400, 24px);

      line-height: 120%;
    }
  }
}
